body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  padding: 7px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

#logo {
  width: 100px;
  height: auto;
  margin-right: 10px;
}
nav {
  margin-top: 20px;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #555;
}

main {
  margin-top: 20px;
}

footer {
  margin-top: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
.title {
  margin-right: auto;
}
.logo-container {
  display: flex; 
  align-items: center; 
}
.tagline {
  text-align: center; /* Align the tagline to the center */
  font-size: large;
  font-style: italic; /* Optionally make it italic */
  margin-top: 10px; /* Add some top margin for separation */
  margin-right: auto;
}